<h2>Editing pattern</h2>

<%= render 'form' %>

<br class="clearfix" />

<div class="btn-group">
  <%= link_to 'Listing', patterns_path, class: 'btn btn-default' %>
  <%= link_to 'Show', @pattern, class: 'btn btn-primary' %>
</div>

<br class="clearfix" />
