// Place all the styles related to the Patterns controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pattern-container-big {
  .pattern-cell {
    width:  40px;
    height: 40px;
  }
}

.pattern-container-small {
  .pattern-cell {
    width:  10px;
    height: 10px;
  }
}



.pattern-container {
  .pattern-cell {
    border: 1px solid black;
    float:  left;
    margin: -1px;
  }

  .pattern-cell-active    { background:  darkslategray;}
  .pattern-cell-inactive  { background:  whitesmoke;}
}
